@page "/RejectItems/{claimId}"
@model ElsaWorkflowServer.Pages.RejectItemsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div>
    <h2>List of ClaimType Names with ClaimId @Model.ClaimObj.ClaimId</h2>
    
    <form method="post">
        <input type="hidden" name="ClaimId" value="@Model.ClaimObj.ClaimId" />

        @foreach (var item in Model.ClaimObj.ClaimItemList)
        {
            <input name="RejectedItems" type="checkbox" value="@item.ClaimTypeId" /> @item.ClaimTypeName <span> : Rs.</span> @item.ClaimAmount<br />
        }
        <br />
        <input type="submit" />
    </form>
</div>