@page "/GetTicketById/{ticketId}"
@model Elsa.Server.Pages.ViewTicketModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}
<center>
    <h2>Ticket Data</h2>

    <table>
        <tr>
            <th>Ticket Id :</th>
            <td>@Model.ticketRequest.TicketId</td>
        </tr>
        <tr>
            <th>User name :</th>
            <td>@Model.ticketRequest.createdBy</td>
        </tr>
        <tr>
            <th>Priority :</th>
            <td>@Model.ticketRequest.Priority</td>
        </tr>
        <tr>
            <th>Query :</th>
            <td>@Model.ticketRequest.Discription</td>
        </tr>
        <tr>
            <th>Resolved Status :</th>
            <td>@Model.ticketRequest.isResolved</td>
        </tr>
    </table>
   
</center>